__pycache__/
*.py[cod]
*.so
env/
venv/
build/
dist/
*.egg-info/
.vscode/
.idea/
*.swp
.DS_Store
*.log
*.deb
deb_package/
tmp/
*.pyc
.professor_here/
professor_app_android/
android_app/
desktop_app/
scripts/
shared/
png/
